@import '@schedule-x/theme-default/dist/index.css';

.sx-vue-calendar-wrapper {
  width: 100%;
  height: 920px;

  &.is-loading {
    pointer-events: none;
    position: relative;

    &::after {
      content: 'Загрузка';
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-pastel-purple;
      background-color: rgba(255, 255, 255, 0.43);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.sx__calendar {
  background-color: transparent;
}

.sx__month-grid-day {
  background-color: $color-white;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

.sx__calendar,
.sx__month-grid-week,
.sx__month-grid-day:not(:last-child) {
  border: none;
}

.sx__month-grid-day__header {
  align-items: flex-end;
}

.sx__month-grid-day__header-day-name {
  font-size: 18px;
  color: $color-pastel-purple
}

.sx__month-grid-day__header-date {
  margin-top: $spacing-sm;
  font-size: 18px;
  color: $color-grey
}

.sx__month-grid-day__events .sx__event {
  margin-top: $spacing-sm;
  padding: 4px;
}

.sx__month-grid-day__header-date.sx__is-today {
  width: 32px;
  height: 32px;
}

.calendar {
  display: flex;
}

.events {
  width: 20%;

  &__title {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
  }

  &__subtitle {
    color: $color-grey;
    font-size: 14px;
  }
}

.schedule {
  width: 80%;
}

.sx__calendar-header {
  padding: 0;
  justify-content: flex-end;
}

.sx__today-button,
.sx__calendar-header-content:nth-child(2) {
  display: none;
}