.card {
  padding: $spacing-md;
  display: flex;
  align-items: center;
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: 16px;
  cursor: pointer;
  position: relative;


  &__image {
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 16px;
  }

  &__body {
    margin-left: $spacing-lg;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: $spacing-md;
    width: 85%;
    font-size: 18px;
    color: $color-grey;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__link {
    color: $color-pastel-purple;
    font-size: 14px;

    &:hover {
      color: $color-pastel-red;
      cursor: pointer;
    }
  }

  &__dropdown {
    margin-bottom: auto;

    .dropdown__btn {
      box-shadow: none;
    }
  }
}