@import '@vueup/vue-quill/dist/vue-quill.snow.css';
@import 'highlight.js/styles/atom-one-dark.css';

.editor {
  margin-bottom: $spacing-md;
  padding: $spacing-lg;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;

  &.is-disabled {
    pointer-events: none;
    opacity: .5;
  }

  &__btn {
    margin-top: $spacing-md;
    width: 100%;
  }

  .ql-container {
    overflow: auto;
    max-height: 600px;
  }

  // TODO: Разобраться почему по умолчанию нет стиля strong
  .ql-editor strong {
    font-weight: 700;
  }
}

