.editor {
  padding: $spacing-lg;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;

  &.is-disabled {
    pointer-events: none;
    opacity: .5;
  }

  &__btn {
    margin-top: $spacing-md;
    width: 100%;
  }

  .ce-toolbar__actions {
    padding: 8px;
    border-radius: 8px;
    background: #795dbb;

    svg path {
      stroke: $color-white;
    }

   &:hover svg path {
      stroke: $color-black;
    }
  }
}

