.editor {
  padding: $spacing-lg;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;

  &__input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .codex-editor {
    height: 100%;
  }

  .codex-editor__redactor {
    padding-bottom: 0 !important;
    height: 100%;
  }

  .ce-code__textarea {
    min-height: 64px !important;
  }

  &__btn {
    margin-top: $spacing-md;
    width: 100%;
  }
}

