.sidebar {
  padding: $spacing-md 0;
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}