.form-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &__label {
    font-size: 16px;
  }

  &__input {
    padding: $spacing-md;
    box-shadow: none;
    outline: none;
    background-color: $color-bg-grey;
    border: 1px solid $color-accent-grey;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      opacity: .6;
    }
  }

  &__textarea {
    resize: none;
    font-family: inherit;
  }

  &__error {
    font-size: 14px;
    color: $color-pastel-red;
  }

  &.is-error {
    .form-group__input {
      border: 1px solid $color-pastel-red;
      animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
  }

  &.is-loading {
    .form-group__input {
      pointer-events: none;
      user-select: none;
      opacity: .7;
    }
  }
}

