.events-list {
  margin-top: $spacing-sm;
  display: flex;
  flex-direction: column;

  &__body {
    margin-top: $spacing-sm;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }

  &__item {
    padding: $spacing-sm;
    flex-grow: 1;
    background-color: $color-white;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: $box-shadow;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item-img {
    flex-shrink: 0;
    width: 74px;
    height: 36px;
    object-fit: cover;
  }

  &__item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $color-black;
  }

  &:hover {
    color: $color-pastel-purple;
  }

  &__empty {
    color: $color-pastel-purple;
  }
}