.btn {
  padding: $spacing-md $spacing-lg;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .4s background-color;
  font-size: 16px;

  &--primary {
    background: $color-pastel-purple;
    color: $color-white;

    &:hover {
      background-color: lighten($color-pastel-purple, 5);
    }
  }

  &--outline {
    outline: 1px solid $color-pastel-purple;
    color: $color-pastel-purple;

    &:hover {
      background-color: lighten($color-pastel-purple, 5);
      color: $color-white;
    }
  }

  &--danger {
    background: $color-pastel-red;
    color: $color-white;
  }

  &.is-loading {
    pointer-events: none;
    user-select: none;
    font-size: 0;
    opacity: .7;

    &::after {
      content: 'Загрузка...';
      font-size: 16px;
      animation: blink 1.4s linear infinite alternate;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
}