.showcase {
  width: 100%;
  max-height: 940px;
  height: 100%;
  overflow: auto;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-bottom: $spacing-md;
    display: flex;
    gap: $spacing-lg;
  }

  &__menu-item {
    font-size: 22px;
    color: $color-grey;

    &:hover,
    &.is-active {
      cursor: pointer;
      color: $color-pastel-purple;
    }
  }

  &__cards {
    margin-left: -$spacing-md;
    padding: $spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    overflow-y: auto;
    height: 100%;
    max-height: 720px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__loader::before {
    content: "Загрузка...";
    font-size: 22px;
    color: $color-grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}