.showcase {
  flex: 1;
  height: 900px;
  position: relative;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-bottom: $spacing-md;
    display: flex;
    gap: $spacing-lg;
  }

  &__menu-item {
    font-size: 22px;
    color: $color-grey;

    &:hover,
    &.is-active {
      cursor: pointer;
      color: $color-pastel-purple;
    }
  }

  &__cards {
    padding: $spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    height: 100%;
    overflow-y: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
}