.course {
  height: 100%;
  overflow-y: auto;
  max-height: 920px;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-md;
    height: 100px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-md;
  }

  &__body {
    display: flex;
    gap: $spacing-lg;
  }
}