.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    padding: $spacing-lg;
    position: relative;
    cursor: pointer;

    .icon {
      stroke: $color-grey;
    }

    &:hover,
    &.router-link-active {
      &::before {
        content: '';
        width: 3px;
        height: 100%;
        background-color: $color-white;
        position: absolute;
        left: 4px;
        top: 0;
      }

      .icon {
        stroke: $color-white;
      }
    }
  }

  &__logout {
    margin-top: auto;
    margin-bottom: $spacing-md;
  }
}